<div id="FuncionarioLista" style="margin: auto;">
    <p>Utilize a lista abaixo para selecionar o colaborador.</p>
    <form style="margin: 0; padding: 0">
        <input type="text" id="pesquisa" style="width: 300px;" class="input-search" autofocus />
        <button class="btn btn-round" id="btnPesquisar" type="submit">Pesquisar</button>
    </form>
</div>
